---
import Layout from '@/layouts/Layout.astro';
import Hero from '@/components/home/hero.astro';
import { fetchContent } from '@/services/data';
import ProjectCard from '@/components/projects/project-card.astro';

// const summary = await getData<Summary>('summary', 'summary');
const summary = await fetchContent.summary();
const projects = await fetchContent.projects();
---

<Layout title="Jesus Daniel Neira Lara - Fullstack/React/Python/AI">
  <Hero />
  <section
    class="container mx-auto flex flex-col items-center space-y-16 px-6 py-8"
  >
    <div
      id="about"
      class="flex items-center justify-center gap-8 max-lg:flex-col-reverse lg:items-start"
    >
      <div>
        <p
          class="text-accent mb-4 font-mono text-xl font-medium tracking-tight text-shadow-2xs"
        >
          About me
        </p>
        <p class="text-base-content flex-2 font-mono text-lg">
          {summary.summary}
        </p>
      </div>
      <img
        src="/profile.jpeg"
        alt="profile image"
        class="aspect-square w-[min(24rem,100%)] flex-1 rounded-xl mask-r-from-70% mask-b-from-3.5 object-cover"
      />
    </div>
    <div class="space-y-5">
      <h1
        class="text-accent font-mono text-xl font-medium tracking-tight text-shadow-2xs"
      >
        Projects
      </h1>
      <div class="grid grid-cols-1 gap-3.5 md:grid-cols-2 lg:grid-cols-3">
        {projects.slice(0, 6).map((item) => <ProjectCard data={item} />)}
      </div>
      <a href="/projects" class="btn not-[hover]:btn-outline btn-md w-full"
        >Show more</a
      >
    </div>
  </section>
</Layout>
